<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>


    <!-- BootStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


    <!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">


</head>
<style>
body
{
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/sun-in-blue-sky-with-clouds-tomch.jpg");
    background-size: cover;
}
</style>
<body>

    <!-- As a heading -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Weather Prediction</a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
                <a class="navbar-brand" href="/pred">Predict</a>
            </div>
        </div>
    </nav>
<br>
<center><b class="pd"><font color="darkblue" size="15" font-family="Comic Sans MS" >Weather Forecast using Machine Learning</font></b></center>
<div>
<br>
<center>
<p><i><font color="brown" size="6" >Weather forecasting is the application of science and technology to predict the conditions <br>
of the atmosphere for a given time. People have attempted to predict the weather informally for <br>
millennia and formally since the 19th century. Here, we predict the accurate weather temperature <br>
 in celsius using Machine Learning. </font>
</i></p>  
</center>
</div>
<br><br><br>
    



    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>